@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

body {
  font-family: "Delicious Handrawn", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 150%;
  align-items: center;
  text-align: center;
}

code {
  font-family: "Delicious Handrawn", cursive;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 10px; /* ajusta el margen para que haya espacio entre los elementos */
}
@media (max-width: 769px) {
  body {
    background-image: url("238182.jpg");
    background-size: cover;
    margin-top: 40%;
  }
}
